body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 1000px;
    display: flex;
    /*Ao invés de escveremos 
    flex-direction: column;
    flex-wrap: wrap;
    podemos simplificar com o flex-flow*/
    flex-flow: column wrap;
    background-color: darkgray;
    color: white;
}

.r1 {
    background-color: red;
}

.r2 {
    background-color: blue;
}

.r3 {
    background-color: green;
}

.rect {
    width: 500px;
    height: 500px;
}